
<%- include("partials/header"); -%>
<br>
<img src="/images/image2.jpg" height="350" width="1100">
<div class="row">
  <div class="column1">
    <p class="center large"> <%= startingContent %> </p>

    <br>
    
    <hr>

    
	<%  views.forEach(function(view){ %>

    <h3><%=view.vsummary%></h3>
    <p>
    <%=view.vdetail.substring(0, 100) + " ..."%>
    <a href="/views/<%=view._id%>">Read More</a>
    </p>


    <% }) %>

  </div>
  <div class="column2">
    <form class="item" action="/compose" method="get">

    <h2>Publish Story</h2>
    <button class="btn btn-primary" type="submit" name="compose">Compose</button>
    </form>
  </div>
  </div>
<%- include("partials/footer"); -%>
